In [1]:
import pandas as pd

In [2]:
df01=pd.read_csv("pfpued01_doc.csv")

In [3]:
df01

,month and year of doc date,Outgoing,DOC_NUM,DOC_ITEM,PROCESSKEY,DOC_DATE,DOC_CAT,PURCH_ORG,VENDOR,BWAPPLNM,...,PLANT,GR_RE_IND,UCDELE_IND,COMP_CODE,CPQUAOU,PO_UNIT,DENOMINTR,NUMERATOR,BASE_UOM,DB_CRD_IND
0,11/1/2019,3808.0,4502565556,1,5,11/12/2019,F,W022,92055938,MM,...,WND1,X,L,0022,3808,ST,1,1,ST,X
1,11/1/2019,634.0,4502565620,1,5,11/12/2019,F,W022,92052041,MM,...,WND1,X,L,0022,634,ST,1,1,ST,X
2,11/1/2019,124.0,4502565632,1,5,11/12/2019,F,W022,92052041,MM,...,WND1,X,L,0022,124,ST,1,1,ST,X
3,11/1/2019,960.0,4502567441,1,5,11/14/2019,F,W022,92054591,MM,...,WND1,X,L,0022,960,M,1,1,M,X
4,11/1/2019,920.0,4502567444,1,5,11/14/2019,F,W022,92055931,MM,...,WND1,X,L,0022,920,M,1,1,M,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,11/1/2018,8350.0,4502346307,1,5,11/16/2018,F,W022,92055938,MM,...,WND1,X,L,0022,8350,ST,1,1,ST,X
265,6/1/2019,700.0,4502485720,1,5,6/28/2019,F,W022,92055938,MM,...,WND1,X,L,0022,700,ST,1,1,ST,X
266,7/1/2019,48750.0,4502500038,1,5,7/22/2019,F,W022,92054093,MM,...,WND1,X,L,0022,48750,M,1,1,M,X
267,8/1/2019,200.0,4502508766,1,5,8/6/2019,F,W022,92054591,MM,...,WND1,X,L,0022,200,M,1,1,M,X
268,9/1/2019,1500.0,4502522578,1,5,9/3/2019,F,W022,92055938,MM,...,WND1,X,L,0022,1500,ST,1,1,ST,X

In [4]:
list(df01.columns)

['month and year of doc date',
 'Outgoing',
 'DOC_NUM',
 'DOC_ITEM',
 'PROCESSKEY',
 'DOC_DATE',
 'DOC_CAT',
 'PURCH_ORG',
 'VENDOR',
 'BWAPPLNM',
 'MATERIAL',
 'PLANT',
 'GR_RE_IND',
 'UCDELE_IND',
 'COMP_CODE',
 'CPQUAOU',
 'PO_UNIT',
 'DENOMINTR',
 'NUMERATOR',
 'BASE_UOM',
 'DB_CRD_IND']

In [5]:
df01=df01.rename(columns={"month and year of doc date":"Reporting Date"})

In [6]:
list(df01.columns)

['Reporting Date',
 'Outgoing',
 'DOC_NUM',
 'DOC_ITEM',
 'PROCESSKEY',
 'DOC_DATE',
 'DOC_CAT',
 'PURCH_ORG',
 'VENDOR',
 'BWAPPLNM',
 'MATERIAL',
 'PLANT',
 'GR_RE_IND',
 'UCDELE_IND',
 'COMP_CODE',
 'CPQUAOU',
 'PO_UNIT',
 'DENOMINTR',
 'NUMERATOR',
 'BASE_UOM',
 'DB_CRD_IND']

In [7]:
df01=df01.drop(columns=["PROCESSKEY","DOC_DATE","DOC_CAT","CPQUAOU","PO_UNIT","DENOMINTR","NUMERATOR","BASE_UOM","PURCH_ORG","BWAPPLNM","COMP_CODE"])

In [10]:
list(df01.columns)

['Reporting Date',
 'Outgoing',
 'DOC_NUM',
 'DOC_ITEM',
 'VENDOR',
 'MATERIAL',
 'PLANT']

In [9]:
df01=df01.drop(columns=["GR_RE_IND","UCDELE_IND","DB_CRD_IND"])

In [11]:
df01.PLANT.unique()

array(['WND1', 'DE02'], dtype=object)

In [12]:
df01

    Reporting Date  Outgoing     DOC_NUM  DOC_ITEM    VENDOR MATERIAL PLANT
0        11/1/2019    3808.0  4502565556         1  92055938  0895971  WND1
1        11/1/2019     634.0  4502565620         1  92052041  7513191  WND1
2        11/1/2019     124.0  4502565632         1  92052041  7513581  WND1
3        11/1/2019     960.0  4502567441         1  92054591  7687861  WND1
4        11/1/2019     920.0  4502567444         1  92055931  7687421  WND1
..             ...       ...         ...       ...       ...      ...   ...
264      11/1/2018    8350.0  4502346307         1  92055938  7514681  WND1
265       6/1/2019     700.0  4502485720         1  92055938  0896491  WND1
266       7/1/2019   48750.0  4502500038         1  92054093  7507441  WND1
267       8/1/2019     200.0  4502508766         1  92054591  7687861  WND1
268       9/1/2019    1500.0  4502522578         1  92055938  0896491  WND1

[269 rows x 7 columns]

In [13]:
df01.dtypes

Reporting Date     object
Outgoing          float64
DOC_NUM            object
DOC_ITEM            int64
VENDOR              int64
MATERIAL           object
PLANT              object
dtype: object

In [15]:
df15=pd.read_csv("pfpued15_doc.csv")

In [16]:
list(df15.columns)

['Incoming',
 'month and year of psting date',
 'New GR QTY',
 'DOC_NUM',
 'DOC_ITEM',
 'MOVE_TYPE',
 'GR_QTY',
 'PLANT',
 'PSTNG_DATE',
 'DCINDIC',
 '/BIC/PURCH_ORG',
 'VENDOR',
 'MATERIAL']

In [17]:
df15=df15.rename(columns={"month and year of psting date":"Reporting Date"})

In [18]:
list(df15.columns)

['Incoming',
 'Reporting Date',
 'New GR QTY',
 'DOC_NUM',
 'DOC_ITEM',
 'MOVE_TYPE',
 'GR_QTY',
 'PLANT',
 'PSTNG_DATE',
 'DCINDIC',
 '/BIC/PURCH_ORG',
 'VENDOR',
 'MATERIAL']

In [19]:
df15.dtypes

Incoming          float64
Reporting Date     object
New GR QTY        float64
DOC_NUM            object
DOC_ITEM            int64
MOVE_TYPE          object
GR_QTY            float64
PLANT              object
PSTNG_DATE         object
DCINDIC            object
/BIC/PURCH_ORG     object
VENDOR              int64
MATERIAL           object
dtype: object

In [21]:
df15["Reporting Date"]=pd.to_datetime(df15["Reporting Date"])

In [20]:
df15=df15.drop(columns=["PSTNG_DATE","GR_QTY","MOVE_TYPE","DCINDIC","/BIC/PURCH_ORG","New GR QTY"])

In [22]:
list(df15.columns)

['Incoming',
 'Reporting Date',
 'DOC_NUM',
 'DOC_ITEM',
 'PLANT',
 'VENDOR',
 'MATERIAL']

In [23]:
df15.dtypes

Incoming                 float64
Reporting Date    datetime64[ns]
DOC_NUM                   object
DOC_ITEM                   int64
PLANT                     object
VENDOR                     int64
MATERIAL                  object
dtype: object

In [24]:
df15.PLANT.unique()

array(['W110', 'W400', 'W230', 'W210', '3043', 'W500', 'W220', 'WND1',
       '3055', 'SGMQ', 'W120', 'RS02', 'W130', '0088', '0028', '0092'],
      dtype=object)

In [221]:
#df15_plant = df15.loc[(df15['PLANT'] == 'WND1') | (df15['PLANT'] == 'DE02')]

In [222]:
#df15_plant.PLANT.unique()

array(['WND1', 'DE02'], dtype=object)

In [25]:
df15.dtypes

Incoming                 float64
Reporting Date    datetime64[ns]
DOC_NUM                   object
DOC_ITEM                   int64
PLANT                     object
VENDOR                     int64
MATERIAL                  object
dtype: object

In [32]:
dfreport=pd.read_csv("Reporting Date_2019.csv")

In [33]:
dfreport.dtypes

Reporting Date    object
dtype: object

In [34]:
import datetime
#df01["Reporting Date"]=pd.to_datetime(df01["Reporting Date"])
dfreport["Reporting Date"]=pd.date_range(start='1/1/2015', end='12/31/2019',freq='MS')
#dfreport["Reporting Date"]=pd.to_datetime(dfreport["Reporting Date"])
#datetime change done on all 3 csv files

In [36]:
dfreport.dtypes

Reporting Date    datetime64[ns]
dtype: object

In [37]:
df01_rep=pd.merge(dfreport,df01,how="left",on="Reporting Date")

In [57]:
df01_rep.to_csv("final_df01rep.csv",index=False)

In [39]:
df01_rep.tail(50)

    Reporting Date  Outgoing     DOC_NUM  DOC_ITEM      VENDOR  MATERIAL PLANT
259     2019-10-01     375.0  4502545891       1.0  92052041.0   7511431  WND1
260     2019-10-01    4900.0  4502546077       1.0  92052041.0   7513201  WND1
261     2019-10-01   22000.0  4502543800       1.0  92058624.0   7507511  WND1
262     2019-10-01  100000.0  4502543800       2.0  92058624.0   7507511  WND1
263     2019-10-01   80000.0  4502543800       3.0  92058624.0   7507511  WND1
264     2019-10-01     400.0  4502555807       1.0  92055938.0   0896471  WND1
265     2019-10-01     936.0  4502555817       1.0  92055938.0   0897021  WND1
266     2019-10-01     936.0  4502555834       1.0  92055938.0   0897021  WND1
267     2019-10-01    8000.0  4502544567       1.0  92055213.0   7511791  WND1
268     2019-10-01   14400.0  4502543242       1.0  92055213.0   7530841  WND1
269     2019-10-01    2106.0  4502543250       1.0  92055213.0   7568771  WND1
270     2019-10-01    9140.0  4502544773       1.0  92062127.0   7512871  WND1
271     2019-10-01  160000.0  4502540134       1.0  92061972.0   7509791  WND1
272     2019-10-01   95000.0  4502540134       2.0  92061972.0   7509791  WND1
273     2019-10-01   23000.0  4502540134       3.0  92061972.0   7509791  WND1
274     2019-10-01    3528.0  4502540145       1.0  92055213.0   7560581  WND1
275     2019-10-01    7272.0  4502540145       2.0  92055213.0   7560581  WND1
276     2019-10-01   13464.0  4502540145       3.0  92055213.0   7560581  WND1
277     2019-10-01   14256.0  4502540145       4.0  92055213.0   7560581  WND1
278     2019-10-01    1060.0  4502540148       1.0  92054591.0   7687781  WND1
279     2019-11-01    3808.0  4502565556       1.0  92055938.0   0895971  WND1
280     2019-11-01     634.0  4502565620       1.0  92052041.0   7513191  WND1
281     2019-11-01     124.0  4502565632       1.0  92052041.0   7513581  WND1
282     2019-11-01     960.0  4502567441       1.0  92054591.0   7687861  WND1
283     2019-11-01     920.0  4502567444       1.0  92055931.0   7687421  WND1
284     2019-11-01   30000.0  4502566810       1.0  92060716.0   6918561  WND1
285     2019-11-01    3808.0  X502565556       1.0  92055938.0   0895971  DE02
286     2019-11-01    7500.0  4502576918       1.0  92060716.0   6918561  WND1
287     2019-11-01    5760.0  4502569346       1.0  92063007.0   7511521  WND1
288     2019-11-01  120000.0  4502578445       3.0  92060716.0   7411491  WND1
289     2019-11-01  105000.0  4502578445       1.0  92060716.0   7411491  WND1
290     2019-11-01    8800.0  4502578445       2.0  92060716.0   7411491  WND1
291     2019-11-01  125895.0  4502570286       2.0  92999191.0   7W13106  WND1
292     2019-11-01    8400.0  4502570286       1.0  92999191.0   7W13084  WND1
293     2019-11-01  267750.0  4502570286       3.0  92999191.0   7W13086  WND1
294     2019-11-01  160000.0  4502566810       2.0  92060716.0   6918561  WND1
295     2019-11-01     628.0  4502565586       1.0  92065558.0   7512831  WND1
296     2019-11-01  153750.0  4502565609       1.0  92054595.0   7509781  WND1
297     2019-11-01   12500.0  4502565644       1.0  92054093.0   7507421  WND1
298     2019-11-01   26250.0  4502565671       1.0  92054093.0   7512301  WND1
299     2019-11-01    4176.0  4502565679       1.0  92055213.0   7568731  WND1
300     2019-11-01    4374.0  4502565693       1.0  92055213.0   7568771  WND1
301     2019-11-01     400.0  4502561373       1.0  92055938.0   0896491  WND1
302     2019-12-01     550.0  4502591217       1.0  92055938.0   7514681  WND1
303     2019-12-01   20000.0  4502589929       1.0  92060716.0   6918561  WND1
304     2019-12-01    3360.0  4502588413       2.0  92052041.0   0897031  WND1
305     2019-12-01    3600.0  4502588413       1.0  92052041.0   0897031  WND1
306     2019-12-01    1800.0  4502588443       1.0  92055938.0   0896381  WND1
307     2019-12-01   23780.0  4502582136       1.0  92060258.0  7600221S  WND1
308     2019-12-01   23780.0  X502582136       1.0  92060258.0  7600221S  DE02

In [40]:
df15_rep=pd.merge(dfreport,df15,how="left",on="Reporting Date")

In [58]:
df15_rep.to_csv("final_df15rep.csv",index=False)

In [42]:
df15_rep[(df15_rep['Reporting Date'] == '2019-04-01') & (df15_rep['VENDOR'] == 92056065.0)]

       Reporting Date  Incoming     DOC_NUM  DOC_ITEM PLANT    VENDOR MATERIAL
241982     2019-04-01   63000.0  4502404295         1  WND1  92056065  7511761
241983     2019-04-01   63000.0  4502404295         1  WND1  92056065  7511761
241984     2019-04-01   18900.0  4502404295         2  WND1  92056065  7511701
241985     2019-04-01   18900.0  4502404295         2  WND1  92056065  7511701
241986     2019-04-01   18900.0  4502404295         2  WND1  92056065  7511701
242995     2019-04-01   59400.0  4502346026         4  WND1  92056065  7560091
242996     2019-04-01   19800.0  4502346026         4  WND1  92056065  7560091
244351     2019-04-01   27000.0  4502340571         4  WND1  92056065  7503521
244352     2019-04-01   36000.0  4502340571         4  WND1  92056065  7503521
244353     2019-04-01   18000.0  4502340571         4  WND1  92056065  7503521
244354     2019-04-01    9000.0  4502340571         4  WND1  92056065  7503521
244355     2019-04-01   18000.0  4502340571         4  WND1  92056065  7503521
244356     2019-04-01   18000.0  4502340571         4  WND1  92056065  7503521
244512     2019-04-01   69300.0  4502346026         4  WND1  92056065  7560091
244513     2019-04-01    9900.0  4502346026         4  WND1  92056065  7560091
246123     2019-04-01    9720.0  4502383520         1  WND1  92056065  7568771
246124     2019-04-01    2916.0  4502383520         1  WND1  92056065  7568771
246125     2019-04-01    9720.0  4502383520         1  WND1  92056065  7568771
246126     2019-04-01    9720.0  4502383520         1  WND1  92056065  7568771
246398     2019-04-01   17496.0  4502383520         1  WND1  92056065  7568771
246399     2019-04-01     972.0  4502383520         1  WND1  92056065  7568771
246400     2019-04-01    5832.0  4502383520         1  WND1  92056065  7568771
246401     2019-04-01    7776.0  4502383520         1  WND1  92056065  7568771
246621     2019-04-01   12636.0  4502383520         1  WND1  92056065  7568771
246622     2019-04-01   16524.0  4502383520         1  WND1  92056065  7568771
246623     2019-04-01    2916.0  4502383520         1  WND1  92056065  7568771
246991     2019-04-01    8748.0  4502383520         1  WND1  92056065  7568771
246992     2019-04-01    9720.0  4502383520         1  WND1  92056065  7568771
246993     2019-04-01    9720.0  4502383520         1  WND1  92056065  7568771
246994     2019-04-01    2916.0  4502383520         1  WND1  92056065  7568771
246995     2019-04-01     972.0  4502383520         1  WND1  92056065  7568771

In [43]:
df15_rep=df15_rep.drop(columns=["PLANT"])

In [44]:
df15_rep.PLANT.unique()

AttributeError: 'DataFrame' object has no attribute 'PLANT'

In [45]:
df15_rep

       Reporting Date  Incoming     DOC_NUM  DOC_ITEM    VENDOR MATERIAL
0          2015-01-01      10.0  4501565923        47  91006186  0063111
1          2015-01-01      10.0  4501565923        56  91006186  0064894
2          2015-01-01       2.0  4501565923        64  91006186  0065625
3          2015-01-01       1.0  4501565923        65  91006186  0065629
4          2015-01-01       3.0  4501565923        67  91006186  0065702
...               ...       ...         ...       ...       ...      ...
301350     2019-12-01   24000.0  X502552544         2  92065498  014036G
301351     2019-12-01   11440.0  X502587458         3  92052041  0896661
301352     2019-12-01    3000.0  X502572913        21  92063603  7530961
301353     2019-12-01    9000.0  X502508348         2  92055213  7503521
301354     2019-12-01       8.0  X502583095         8  92062715  0068863

[301355 rows x 6 columns]

In [59]:
df01_15_rep=pd.merge(df01_rep,df15_rep,how="outer",on=["Reporting Date","VENDOR","MATERIAL"])

In [60]:
df01_15_rep.PLANT.unique()

array([nan, 'WND1', 'DE02'], dtype=object)

In [61]:
df01_15_rep[(df01_15_rep['Reporting Date'] == '2019-01-01') & (df01_15_rep['VENDOR'] == 92052041.0)]

,Reporting Date,Outgoing,DOC_NUM_x,DOC_ITEM_x,VENDOR,MATERIAL,PLANT,Incoming,DOC_NUM_y,DOC_ITEM_y
2145,2019-01-01,2390.0,4502375134,1.0,92052041.0,0896661,WND1,2080.0,55105286,2.0
2146,2019-01-01,2390.0,4502375134,1.0,92052041.0,0896661,WND1,7280.0,55105286,2.0
2147,2019-01-01,2390.0,4502375134,1.0,92052041.0,0896661,WND1,1560.0,55105286,2.0
2148,2019-01-01,2390.0,4502375134,1.0,92052041.0,0896661,WND1,6240.0,55105286,2.0
2149,2019-01-01,2390.0,4502375134,1.0,92052041.0,0896661,WND1,5200.0,55105286,2.0
...,...,...,...,...,...,...,...,...,...,...
239425,2019-01-01,NaN,NaN,NaN,92052041.0,7400751,NaN,800.0,55105369,1.0
239556,2019-01-01,NaN,NaN,NaN,92052041.0,7600791,NaN,480.0,55105373,1.0
239557,2019-01-01,NaN,NaN,NaN,92052041.0,7600791,NaN,480.0,55105373,1.0
239558,2019-01-01,NaN,NaN,NaN,92052041.0,7600791,NaN,480.0,55105373,1.0
239559,2019-01-01,NaN,NaN,NaN,92052041.0,7600791,NaN,480.0,55105373,1.0

In [56]:
df01_15_rep.to_csv("final_docnum.csv",index=False)